body {
    font-family: Arial, sans-serif;
}

.navbar-brand img {
    max-height: 50px;
}

.navbar-brand span {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#map {
    height: 400px;
    width: 100%;
    border: 2px solid #007bff;
    border-radius: 8px;
}

.portrait {
    transform: rotate(90deg); /* Rotate the map container to portrait orientation */
    transform-origin: left top; /* Set the rotation origin to the top-left corner */
}

h2 {
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

@media (min-width: 768px) {
    .button-container {
        flex-direction: row;
        align-items: center;
    }
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 40px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer h5 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer p {
    font-size: 14px;
    line-height: 1.6;
}

.footer ul {
    font-size: 14px;
    line-height: 1.6;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.footer .bg-secondary {
    background-color: #6c757d !important;
}

.footer .fab, .footer .fas {
    margin-right: 8px;
}

/* CSS for better styling of "Total jarak perjalanan" */

#distanceTraveled {
    font-family: Arial, sans-serif; /* Change font family */
    font-size: 18px; /* Increase font size */
    font-weight: bold; /* Make it bold */
    color: #26355D; /* Change text color to a prominent one */
    margin-top: 10px; /* Add some top margin for separation */
}

